
.title {
    color: white;
    background-color: rgb(204, 74, 74) ;

    font-size: 3em;
    text-align: center;
};

.subtitle {
    color:white;
    background-color: rgb(204, 74, 74);

    font-size: 2em;
};